#!version:1.0.0.1

### This file is the exported MAC-all.cfg.

### For security, the following parameters with password haven't been display in this file.
account.1.password = WYVL5566!9
account.1.auth_name = 3941463482
account.1.user_name = 3941463482